@import "../../../styles/colors";

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 1800px;
  margin: auto;
}
.header {
  width: 100%;
  background-color: $background-light;
  border-bottom: thin solid $border-light;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.main {
  width: 100%;
  flex: 1;
  padding: 1rem;
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: rgb(238, 238, 238);
  border-top: thin solid rgb(221, 221, 221);
}
