@import "./colors";

.section {
  margin: 1rem 0;
  display: flex;
  column-gap: 1.3rem;
}

.filters {
  max-width: 290px;
  height: fit-content;
  flex-basis: 25%;
}

.content {
  h1 {
    margin: 0.6rem 0;
  }

  p {
    color: $font-color;
    font-weight: 300;
  }

  .resultsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    gap: 1.3rem;
  }
}
